@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  --font-heebo: "Heebo", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --gray-tone-1: #333333;
  --gray-tone-2: #4f4f4f;
  --gray-tone-3: #828282;
  --gray-tone-4: #bdbdbd;
  --gray-tone-5: #e0e0e0;
  --gray-tone-6: #f2f2f2;
  --blue-tone: #2d9cdb;
  --green-tone: #27ae60;
  --red-tone: #eb5757;
  --dark-tone: #100e1d;
}

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins);
}

footer {
  background-color: var(--dark-tone);
  color: white;
  padding: 3rem 4rem 0.5rem 4rem;
}

footer p {
  text-align: center;
  margin: 0;
  margin-top: 5rem;
}

footer p > a {
  text-decoration: none;
  font-weight: 500;
  color: var(--blue-tone);
}

#container {
  margin: 2rem;
}

.mobile-menu {
  display: none;
}

.homepage-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-logo h1 {
  font-weight: 800;
  font-family: var(--font-heebo);
  font-size: 2.25rem;
}

#mobile-menu-burger {
  display: none;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0.2;

  font-weight: 500;
}

.menu-option {
  text-decoration: none;
  font-size: 1.5rem;
  animation: transform 1s ease-in-out;
}

.menu-option:focus {
  transform: scale(1.2, 1.2);
}

.page-introduction {
  margin: 0 10rem;
}

.intro-photo-container {
  margin: 3rem 0;
}

.intro-photo {
  right: 0;
  width: 95vw;
  border-radius: 1.125rem;
  transform: translateX(-12.5%);
}

.intro-section {
  width: 60%;
}

.intro-section:nth-child(3) {
  width: 40%;
}

.intro-section h1 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--gray-tone-1);
  margin: 0;
  line-height: 1.5;
}

.intro-section h6 {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--blue-tone);
  margin: 0;
  margin-bottom: 1rem;
}

.intro-section p {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 2rem 0;
  color: var(--gray-tone-2);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

.contact-form label {
  font-weight: 500;
  font-size: 0.88rem;
  color: var(--gray-tone-3);
  margin-bottom: 5px;
}

.input-field {
  display: flex;
  position: relative;
}

.input-field input {
  background-color: var(--gray-tone-6);
  border-radius: 12px;
  border: none;
  padding: 0.8rem;
  width: 100%;
}

.input-field button {
  right: 0;
  position: absolute;
  padding: 0.64rem 1.97rem;
  margin: 0.15rem 0;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  background-color: var(--blue-tone);
  color: white;
}

.service-catalog-section {
  display: block;
  margin: 0 3rem;
  margin-top: 10rem;
}

.catalog-desc {
  width: 30%;
  margin-left: 3rem;
  margin-bottom: 2rem;
  font-weight: 500;
  font-size: 2.25rem;
  color: var(--gray-tone-1);
}

.services-list {
  display: flex;
}

.service-on-offer {
  border-radius: 1.5rem;
  padding: 0 2.25rem;
  margin: 0 2.25rem;
}

.service-on-offer:focus-within {
  box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.get-started-button {
  border-radius: 0.75rem;
  background-color: var(--gray-tone-5);
  color: var(--gray-tone-3);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  border: none;
  cursor: pointer;
}

.get-started-button:focus {
  background-color: var(--blue-tone);
  color: white;
}

.service-heading {
  margin: 1rem 0;
}

.service-heading h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 2.25rem;
}

.service-icon {
  border-radius: 1rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  color: white;
}
.service-description {
  margin: 2rem 0;
}

.service-description p {
  margin-bottom: 2rem;
}

#service-01 {
  background-color: var(--blue-tone);
}

#service-02 {
  background-color: var(--green-tone);
}

#service-03 {
  background-color: var(--red-tone);
}

.material-icons {
  font-size: 2rem;
  margin: 1rem;
}

.recent-projects-section {
  display: block;
  margin: 0 3rem;
  margin-top: 10rem;
}

.catalog-desc#projects-desc {
  width: 35%;
}

.catalog-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  margin-top: 8rem;
}

.catalog-row > :nth-child(2) {
  transform: translateY(-30%);
}

.design-description {
  padding-left: 0.75rem;
}

.design-photo {
  height: 70%;
  padding: 0;
  border-radius: 20px;
  margin-bottom: 1rem;
}

.design-type {
  margin: 0;
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--gray-tone-3);
}

.design-name {
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--gray-tone-1);
}

.more-content {
  display: flex;
  justify-content: flex-end;
  color: var(--blue-tone);
  font-weight: 500;
  font-size: 1.25rem;
}

.more-content a {
  margin: 1rem 0;
  text-decoration: none;
}

.more-content > .material-icons {
  margin-left: 0.25rem;
}

.team-section {
  margin: 10rem 3rem;
  display: grid;
  grid-auto-columns: 30rem;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 2rem;
}

.team-description {
  font-weight: 500;
  display: block;
  margin-right: 14rem;
}

.section-title {
  font-size: 1.125rem;
  color: var(--red-tone);
}

.description {
  font-size: 2.25rem;
  color: var(--gray-tone-1);
}

.description-footer {
  font-size: 1rem;
  color: var(--gray-tone-2);
  margin: 2rem 0;
}

.team-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  justify-items: center;
  align-items: center;
}

.team-pic {
  border-radius: 1.25rem;
  height: 40vh;
}

.pic-col {
  display: block;
}

.pic-col > .team-pic:first-child {
  height: 34vh;
}

.client-section {
  margin: 3rem;
}

.client-quote {
  font-weight: 500;
  margin-right: 16rem;
  font-size: 2.25rem;
  color: var(--gray-tone-1);
}

.client-profile {
  display: flex;
}

.client-data {
  margin-left: 1rem;
}

.client-photo {
  max-height: 22vh;
  border-radius: 1.25rem;
}

.client-name {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--gray-tone-1);
}

.client-profession {
  margin: 0;
  font-size: 1.25rem;
  color: var(--gray-tone-3);
}

.contact-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}

.contact-section > .navigation-menu {
  flex-direction: column;
  font-weight: 500;
  align-items: initial;
}

.contact-section > .navigation-menu > .menu-option {
  font-weight: 400;
  font-size: 1.125rem;
}

.brand-social-media > .homepage-logo h1 {
  margin: 0;
}

.main-social-media {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
}

.contact-section > .contact-form {
  color: var(--gray-tone-1);
}

@media (max-width: 1200px) {
  #container {
    margin: 1.75rem;
  }

  .page-introduction {
    margin: 0 8rem;
  }

  .intro-photo-container {
    margin: 2.5rem 0;
  }

  .intro-photo {
    transform: translateX(-11%);
  }

  .service-catalog-section {
    margin: 0 2.5rem;
    margin-top: 7rem;
  }

  .catalog-desc {
    margin-bottom: 1.75rem;
    font-size: 2.125rem;
  }

  .catalog-row {
    margin: 0 3rem;
    margin-top: 5rem;
  }

  .design-photo {
    max-height: 90vh;
  }
}

@media (max-width: 992px) {
  #container {
    margin: 1.75rem;
  }

  .page-introduction {
    margin: 0 6rem;
  }

  .intro-photo-container {
    margin: 2.5rem 0;
  }

  .intro-section h1 {
    font-size: 2.25rem;
    line-height: 1.3;
  }

  .intro-section h6 {
    font-size: 1rem;
    margin-bottom: 0.3rem;
  }

  .intro-section p {
    margin: 1.125rem 0;
  }

  .service-catalog-section {
    margin-top: 6rem;
  }

  .catalog-desc {
    font-size: 2rem;
    width: 40%;
  }

  .service-on-offer {
    padding: 0 1.75rem;
    margin: 0 1.75rem;
  }

  .service-heading {
    margin: 1rem 0;
  }

  .service-heading h1 {
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  .service-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .material-icons {
    font-size: 2rem;
    margin: 0.75rem;
  }

  .service-description p {
    font-size: 0.9rem;
  }

  .get-started-button {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
  }

  .catalog-row {
    margin: 0 1rem;
    margin-top: 5rem;
  }

  .design-photo {
    max-height: 75vh;
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 768px) {
  #container {
    margin: 1.25rem;
  }

  #homepage-logo h1 {
    font-size: 1.5rem;
  }

  #heading-menu a {
    font-size: 1.125rem;
  }

  .page-introduction {
    margin: 0 4rem;
  }

  .intro-photo-container {
    margin: 2rem 0;
  }

  .intro-photo {
    transform: translateX(-9%);
  }

  .intro-section h1 {
    font-size: 2rem;
  }

  .intro-section h6 {
    font-size: 0.8rem;
    margin-bottom: 0.25rem;
  }

  .intro-section p {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .catalog-desc {
    font-size: 1.75rem;
    width: 45%;
    line-height: 1.3;
  }

  .service-on-offer {
    padding: 0 1rem;
    margin: 0 1rem;
  }

  .service-heading h1 {
    font-size: 1.125rem;
  }

  .service-icon {
    width: 3rem;
    height: 3rem;
  }

  .material-icons {
    font-size: 1.875rem;
    margin: 0.5rem;
  }

  .service-description p {
    font-size: 0.9rem;
  }

  .get-started-button {
    font-size: 0.875rem;
    padding: 0.25rem 0.75rem;
  }

  .catalog-row {
    margin: 0 1rem;
    margin-top: 5rem;
  }

  .design-photo {
    max-height: 55vh;
    /* margin-bottom: 0.625rem; */
  }

  .design-type {
    font-size: 0.875rem;
  }

  .design-name {
    font-size: 1.25rem;
  }

  .contact-section > .navigation-menu > .menu-option {
    margin: 0.25rem 0;
  }

  .contact-section > .contact-form {
    margin-bottom: 3rem;
  }

  .brand-social-media {
    margin: 3rem 0;
  }

  .client-quote {
    margin-right: 8rem;
  }
}

@media (max-width: 576px) {
  #container {
    margin: 1rem;
  }

  body {
    height: 100vh;
  }

  .mobile-menu {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(4rem, 1fr));
    padding: 2rem 4rem;
    height: 100%;
    width: 100vw;
    z-index: 1;
    position: fixed;
    background-color: var(--gray-tone-5);
    transform: translateX(-100%);
    transition: transform 300ms ease-in-out;
  }

  .mobile-menu__opened {
    transform: translateX(0);
  }

  .mobile-navigation-menu {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
    grid-auto-rows: 3rem;
    gap: 3rem;
    align-items: center;
    justify-items: center;
  }

  .mobile-menu-option {
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 700;
  }

  .mobile-menu-header {
    text-align: end;
  }

  .mobile-menu-header > button {
    background-color: transparent;
    border: none;
  }

  .mobile-menu-header > button > .material-icons {
    font-size: 2rem;
    font-weight: 700;
  }

  .navigation-menu {
    display: none;
  }

  .contact-section > .navigation-menu {
    display: flex;
  }

  .contact-section > .navigation-menu > .menu-option {
    margin: 0.25rem 0;
  }

  .contact-section > .contact-form {
    margin-bottom: 3rem;
  }

  .brand-social-media {
    margin: 4rem 0;
  }

  #mobile-menu-burger {
    display: block;
    margin: 10px;
  }

  #mobile-menu-burger button {
    background-color: transparent;
    border: none;
  }

  #homepage-logo h1 {
    font-size: 2rem;
  }

  .page-introduction {
    margin: 0 4rem;
  }

  .intro-photo-container {
    margin: 4rem 0;
  }

  .intro-photo {
    transform: scale(1, 1.3) translateX(-12%);
  }

  .intro-section {
    width: 100%;
  }

  .intro-section:nth-child(3) {
    width: 100%;
  }

  .intro-section h1 {
    font-size: 2.25rem;
    line-height: 1.2;
  }

  .intro-section h6 {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }

  .intro-section p {
    font-size: 1rem;
    margin: 1rem 0;
  }

  .service-catalog-section {
    margin: 6rem 2rem;
  }

  .catalog-desc {
    font-size: 2rem;
    width: 60%;
  }

  .catalog-desc#projects-desc {
    width: 80%;
    margin-left: 1rem;
  }

  .service-on-offer {
    padding: 2rem 3rem;
    margin: 0 1rem;
  }

  .service-heading {
    margin: 1rem 0;
  }

  .service-heading h1 {
    font-size: 1.75rem;
    margin-top: 2rem;
  }

  .service-icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .material-icons {
    font-size: 2rem;
    margin: 0.75rem;
  }

  .service-description p {
    font-size: 1.125rem;
  }

  .get-started-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .services-list {
    display: block;
  }

  .recent-projects-section {
    margin: 0 1rem;
  }

  .catalog-row {
    display: block;
    margin: 0;
  }

  .catalog-row > :nth-child(2) {
    transform: translateY(0%);
  }

  .design-item {
    margin: 2rem 0;
  }

  .design-photo {
    max-height: 100vh;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .design-type {
    font-size: 1rem;
  }

  .design-name {
    font-size: 1.125rem;
  }

  .client-quote {
    margin-right: 0;
  }
}
